* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 1366px;
    font-family: Montserrat;
}

a {
    text-decoration: none;
}

.slider,
.featured,
.trend,
.hot,
.other,
.mobile-app,
.footer,
.footer-footer,
.slider-contact,
.contact-cutaways {
    padding-left: 98px;
    padding-right: 98px;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.slider {
    height: 800px;
    background-image: url(img/slider-img.jpg);
}

.slider-text {
    margin-top: 250px;
}

.header {
    padding-top: 63px;
}

.menu {
    display: block;
    float: right;
}

.menu-list {
    list-style-type: none;
    float: left;
}

.menu-link {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 10px;
    text-transform: uppercase;
    padding: 5px 13px;
    letter-spacing: 1.4px;
}

.menu-link-active {
    color: #212121;
    font-weight: 700;
    letter-spacing: 1.4px;
    border-bottom: 3px solid #212121;
}

.trending {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.slider-text-name {
    color: #212121;
    font-size: 58px;
    font-weight: 100;
    text-transform: uppercase;
}

.text-description {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    width: 458px;
    margin-top: 20px;
}

.text-button {
    width: 212px;
    height: 45px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    display: inline-block;
    text-align: center;
    margin-top: 25px;

    font-size: 18px;
    font-weight: 700;
    line-height: 45px;
    text-transform: uppercase;
    color: #212121;
    letter-spacing: 3.6px;
}

.featured {
    height: 609px;
    position: relative;
}

.featured-menu {
    padding-top: 120px;
}


.featured-menu-list {
    color: #6c6c6c;
    font-size: 36px;
    font-weight: 700;
    list-style-type: none;
    float: left;
    border-bottom: #6c6c6c solid 1px;
    padding-left: 9px;
    padding-right: 20px;
    padding-bottom: 12px;
}

.featured-menu-list-active {
    padding-bottom: 10px;
    font-weight: 700;
    border-bottom: #212121 solid 3px;
    color: #212121;
}

.featured-catalog-img {
    margin-right: 30px;
}

.featured-catalog-img-last {
    margin-right: 0px;
}

.featured-header {
    height: 184px;
}

.featured-menu-block,
.explore-all-block {
    vertical-align: bottom;
}

.explore-all {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    color: #212121;
    letter-spacing: 3.6px;
    float: right;
}

.featured-catalog {
    margin-top: 50px;
}

.exclusive {
    height: 683px;
}

.exclusive-block-1 {
    background-image: url(img/promo-img1.jpg);
    width: 683px;
    height: 683px;
    float: left;
}

.exclusive-block-2 {
    background-image: url(img/promo-img.jpg);
    width: 683px;
    height: 683px;
    float: left;
}

.exclusive-text {
    margin-top: 220px;
    margin-left: 50px;
}

.exclusive-text-exclusive {
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    color: #1e88e5;
    letter-spacing: 1.8px;
}

.exclusive-text-name {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.exclusive-text-description {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24.04px;
}

.trend {
    height: 1108px;
}

.trend-header {
    padding-top: 120px;
    height: 35px;
    padding-bottom: 64px;
}

.trend-header-text {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    float: left;
}

.trend-goods-img {
    margin-right: 30px;
    margin-bottom: 30px;
    float: left;
}

.trend-goods-img-last {
    margin-right: 0px;
}

.hot {
    height: 800px;
    background-image: url(img/slider-table.jpg);
}

.hot-text-header {
    margin-top: 280px;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    color: #e53935;
    letter-spacing: 1.8px;
}

.hot-text-name {
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    text-transform: uppercase;
}

.hot-text-dexcription {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    width: 458px;
    margin-top: 20px;
}

.other {
    height: 810px;
}

.other-container {
    padding-top: 120px;
}

.other-text {
    margin-left: 30px;
}

.other-text-exclusive {
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    color: #1e88e5;
    letter-spacing: 1.8px;
    margin-top: 186px;
}

.other-text-name {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.other-text-description {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24.04px;
    width: 332px;
    margin-top: 20px;
}

.other-main-img {
    background-image: url(img/product-1-lg.jpg);
    height: 570px;
    width: 570px;
    float: left;
    margin-right: 30px;
    /* padding-left: 30px; */
}

.other-img {
    float: left;
    margin-bottom: 30px;
    margin-right: 30px;
}

.other-img-last {
    margin-right: 0;
}

.mobile-app {
    height: 516px;
    background-image: url(img/back-img-phone.jpg)
}

.mobile-app-text {
    padding-top: 120px;
}

.mobile-app-text-header {
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    color: #6c6c6c;
    letter-spacing: 1.8px;
}

.mobile-app-name {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    text-transform: uppercase;
    width: 500px;
}

.mobile-app-text-description {
    color: #6c6c6c;
    font-size: 22px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 15px;
}

.app-store,
.google-play {
    display: inline-block;
    margin-top: 30px;
}

.footer {
    padding-top: 120px;
    height: 206px;
}

.contact-us-header,
.useful-info-header,
.feedback-header {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.contact-us-text,
.feedback-text {
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

.feedback-text {
    padding-top: 24px;
    padding-bottom: 24px;
}

.contact-us-text-1,
.contact-us-text-2 {
    width: 221px;
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin-top: 24px;
}

.useful-info-link {
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}

.copyright,
.footer-text-coockies {
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}

.contact-us,
.useful-info {
    margin-right: 80px;
    float: left;
}

.contact-us {
    height: 140px;
    width: 221px;
}

.useful-info {
    width: 422px;
    height: 140px;
}

.useful-info-1 {
    padding-top: 24px;
    float: left;
    width: 132px;
}

.useful-info-2 {
    padding-top: 24px;
    width: 187px;
    float: left;
    margin-left: 100px;
}

.footer-footer {
    height: 60px;
}

.copyright-block,
.social,
.cookies-block {
    float: left;
}

.social {
    margin-left: 158px;
}

.cookies-block {
    margin-left: 170px;
}

/*Ниже стили для страницы контакты*/

.slider-contact {
    height: 360px;
    background-color: #f5f5f5;
    position: relative;
}

.slider-contact-us {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    position: absolute;
    bottom: 40px;
}

.contact-cutaways {
    height: 563px;
}

.cutaway {
    width: 370px;
    height: 370px;
    outline: 1px solid #9c9c9c;
    float: left;
    margin-top: 71px;
    margin-right: 30px;
    text-align: center;
}

.map-label {
    margin-top: 48px;
}

.block {
    display: block;
}

.last-cutaway {
    margin-right: 0;
}

.cutaway-text-name {
    color: #212121;
    font-size: 22px;
    font-weight: 700;
    line-height: 29.88px;
    text-transform: uppercase;
    margin-top: 25px;
}

.cutaway-text-header,
.cutaway-text-email,
.cutaway-text-phone,
.cutaway-text-adress {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

.cutaway-text-header {
    margin-top: 15px;
}

.cutaway-text-email,
.cutaway-text-phone {
    color: #212121;
}

.cutaway-text-adress {
    font-weight: 300;
}

.catalog-all-goods-string {
    display: flex;
}

.color-contact-footer {
    background-color: #f7f7f7;
}